.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
    color: #fff;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.795));

}

.main-content {
    width: 100%;
    max-width: 1200px;
}

.section {
    border: 1px solid #333;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    background: #242629;
}

.featured-streams {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stream-card {
    width: calc(50% - 10px);
    border: 1px solid #333;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    background: #2e3236;
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
