/* 
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 20px;
    color: #fff;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.795));
  }
  
  .profile h2 {
    margin-bottom: 20px;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .bio {
    margin-bottom: 20px;
  }
  
  .profile form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .profile label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .profile input,
  .profile textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: #2e3236;
    border: 1px solid #333;
    color: #fff;
  }
  
  .profile {
    flex: 1;
    overflow: auto;
  }
  
  .profile button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    width: fit-content;
  }
  
  .profile button:hover {
    background-color: #555;
  }
  
  .profile video {
    width: 100%;
    max-width: 640px;
    height: auto;
    margin: 0 auto;
  }
  

  
  .comments h4 {
    margin-bottom: 5px;
  }
  
  .comments p {
    margin: 0;
    padding: 5px;
    background-color: #2e3236;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  .like-button {
    color: #000; 
  }
  
  .like-button.active {
    color: #0000ff; 
  }
  
  .dislike-button {
    color: #000; 
  }
  
  .dislike-button.active {
    color: #0000ff; 
  }
   */

   .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    color: #fff;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.795));
    }
    
    .profile h2 {
    margin-bottom: 20px;
    }
    
    .profile form {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .profile label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    }
    
    .profile input,
    .profile textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: #2e3236;
    border: 1px solid #333;
    color: #fff;
    }
    
    .profile input[type="file"] {
    padding: 6px 0;
    }
    
    .profile button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    }
    
    .profile button:hover {
    background-color: #555;
    }